body, html {
    height: 100%;
  }
  
.bg {
    background-image: url("./background.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
}

.nasaLogo {
    align-content: center !important;
}

.header-title {
    color: blue;
    font-family: 'Rajdhani', sans-serif;
    background-color: black;
}

.NASA {
    font-family: 'Righteous', cursive;
}


.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-container>div {
    background-color: black;
    width: 100px;
    margin: 10px;
    text-align: center;
    /* line-height: 75px; */
    /* font-size: 30px; */
}

.card-title {
    color: blue;
    font-weight: bold;
    font-size: large;
}